<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron">
    <form>
        <div class="form-group">
            <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title of Article" value="{{article[1]}}">
  </div>
        <div class="form-group">
    <label for="text">Article</label>
    <textarea class="form-control" id="text" rows="16">
        Whole text of article
    </textarea>
  </div>
        <button type="button" class="btn btn-primary">Save</button>
<button type="button" class="btn btn-secondary">Cancel</button>
<button type="button" class="btn btn-danger">Delete</button>
    </form>

</div>

</body>
</html>